<div class="card">
  <article class="card-body">
    <!--    <a class="float-right btn btn-outline-primary" href="">Sign up</a>-->
    <h4 class="card-title mb-4 mt-1">Login</h4>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <form (keyup.enter)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control"
               formControlName="username" id="username" placeholder="Username" type="text">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div> <!-- form-group// -->
      <div class="form-group">
        <!--        <a class="float-right" href="#">Forgot?</a>-->
        <label for="password">Password</label>
        <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control"
               formControlName="password" id="password" placeholder="******" type="password">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div> <!-- form-group// -->
      <!--      <div class="form-group">-->
      <!--        <div class="checkbox">-->
      <!--          <label> <input type="checkbox"> Save password </label>-->
      <!--        </div> &lt;!&ndash; checkbox .// &ndash;&gt;-->
      <!--      </div> &lt;!&ndash; form-group// &ndash;&gt;-->
      <div class="form-buttons">
        <button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary btn-block">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </div>
    </form>
  </article>
</div> <!-- card.// -->
