<div class="row">
  <div class="col-sm-12">
    <h1>Energy Consumption</h1>
  </div>
</div>
<div *ngIf="client; else ehat">
  <div class="row">
    <div class="col-sm-12">
      <h2>Total: {{totalConsumption}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Devices:</h2>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let device of devices" class="col-sm-12 my-2">
      <div class="card">
        <h5 class="card-header">{{device.description}}</h5>
        <div class="card-body">
          <p class="card-title">Energy consumption: {{device.currentEnergyConsumption || "no data"}}</p>
          <a [routerLink]="['device',device.id]" class="card-text">Historical</a>
        </div>
        <!--        <div class="card-footer text-muted">-->
        <!--          <small>asd</small>-->
        <!--        </div>-->
      </div>

    </div>
    <div *ngIf="devices.length == 0" class="col-sm-12 my-2">
      <p>No device</p>
    </div>
  </div>
</div>

<ng-template #ehat> asda?</ng-template>
