<div class="row">
  <div *ngFor="let client of clients" class="col-sm-12 my-2">
    <app-client-list-item [client]="client"></app-client-list-item>
  </div>
  <div *ngIf="clients.length == 0" class="col-sm-12 my-2">
    <p>No client added yet</p>
  </div>
</div>
