<div class="card">
  <!--  <div class="card-header"></div>-->
  <div class="card-body">
    <h5 class="card-title">{{client.name}}</h5>
    <p class="card-text"></p>
  </div>
  <!--  <div class="card-footer text-muted"></div>-->
</div>
