<button (click)="onCreate()" class="btn float bg-success">
  <fa-icon [icon]="faPlus" class="my-float"></fa-icon>
</button>

<app-client-edit (editSubmit)="onEditSubmit($event)" [(isOpen)]="openEditClient" [(loading)]="loading"
                 [client]="clientToEdit" [error]="formError"></app-client-edit>
<app-client-create (createSubmit)="onCreateSubmit($event)" [(isOpen)]="openCreateClient" [(loading)]="loading"
                   [error]="formError"></app-client-create>

<app-client-table (delete)="onDelete($event)" (edit)="onEdit($event)" *ngIf="clients$ | async as clients"
                  [clients]="clients" [optionsDisabled]="loading"></app-client-table>
