<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit client</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="description">Description</label>
        <input [ngClass]="{ 'is-invalid': f.description.errors }" class="form-control" formControlName="description"
               id="description" placeholder="Description"
               type="text">
        <div *ngIf="f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
      </div> <!-- form-group// -->

      <div class="form-group">
        <label for="maxValue">Max value</label>
        <input [ngClass]="{ 'is-invalid': f.maxValue.errors }" class="form-control"
               formControlName="maxValue"
               id="maxValue" min="1"
               placeholder="" step="1" type="number">
        <div *ngIf="f.maxValue.errors" class="invalid-feedback">
          <div *ngIf="f.maxValue.errors.required">Max value is required</div>
        </div>
      </div> <!-- form-group// -->

    </form>
  </div>
  <div class="modal-footer">
    <button (click)="submitPressed()" [disabled]="loading" class="btn btn-outline-dark" type="button">Save</button>
  </div>
</ng-template>
