<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Device to which the sensor is connected</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <label for="device">The sensor "{{sensor.description}}" is connected to the device: </label>

    <ng-select [(ngModel)]="selectedDeviceId" id="device">
      <ng-option *ngFor="let device of devices" [value]="device.id">{{device.description}}</ng-option>
    </ng-select>

  </div>
  <div class="modal-footer">
    <button (click)="replacePressed()" [disabled]="loading" class="btn btn-outline-secondary" type="button">Change
    </button>
    <button (click)="removePressed()" [disabled]="loading" class="btn btn-outline-danger" type="button">Remove</button>
  </div>
</ng-template>
