<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit client</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    <form [formGroup]="form">
      <div class="form-group">
        <label for="description">Description</label>
        <input [ngClass]="{ 'is-invalid': f.description.errors }" class="form-control" formControlName="description"
               id="description" placeholder="Description"
               type="text">
        <div *ngIf="f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
      </div> <!-- form-group// -->

      <div class="form-group">
        <label for="address">Address</label>
        <input [ngClass]="{ 'is-invalid': f.address.errors }" class="form-control" formControlName="address"
               id="address" placeholder="Address"
               type="text">
        <div *ngIf="f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div> <!-- form-group// -->

      <div class="form-group">
        <label for="maxEnergyConsumption">Max energy consumption</label>
        <input [ngClass]="{ 'is-invalid': f.maxEnergyConsumption.errors }" class="form-control"
               formControlName="maxEnergyConsumption"
               id="maxEnergyConsumption" min="1"
               placeholder="" step="1" type="number">
        <div *ngIf="f.maxEnergyConsumption.errors" class="invalid-feedback">
          <div *ngIf="f.maxEnergyConsumption.errors.required">Max energy consumption is required</div>
        </div>
      </div> <!-- form-group// -->

      <div class="form-group">
        <label for="baselineEnergyConsumption">Baseline energy consumption</label>
        <input [ngClass]="{ 'is-invalid': f.baselineEnergyConsumption.errors }" class="form-control"
               formControlName="baselineEnergyConsumption"
               id="baselineEnergyConsumption" min="1"
               placeholder="" step="1" type="number">
        <div *ngIf="f.baselineEnergyConsumption.errors" class="invalid-feedback">
          <div *ngIf="f.baselineEnergyConsumption.errors.required">Baseline energy consumption is required</div>
        </div>
      </div> <!-- form-group// -->

    </form>
  </div>
  <div class="modal-footer">
    <button (click)="submitPressed()" [disabled]="loading" class="btn btn-outline-dark" type="button">Save</button>
  </div>
</ng-template>
