<button (click)="onCreate()" class="btn float bg-success">
  <fa-icon [icon]="faPlus" class="my-float"></fa-icon>
</button>

<app-devices-edit (editSubmit)="onEditSubmit($event)" [(isOpen)]="openEditModal" [(loading)]="loading"
                  [device]="deviceToEdit" [error]="formError"></app-devices-edit>
<app-devices-create (createSubmit)="onCreateSubmit($event)" [(isOpen)]="openCreateModal" [(loading)]="loading"
                    [error]="formError"></app-devices-create>
<app-device-owner (remove)="onOwnerRemove($event)" (replace)="onOwnerReplace($event)" [(isOpen)]="openOwnerModal"
                  [(loading)]="loading" [device]="deviceToEditOwner" [error]="formError"></app-device-owner>

<app-devices-table (delete)="onDelete($event)" (edit)="onEdit($event)" (ownerPressed)="onOwnerPressed($event)"
                   *ngIf="devices$ | async as devices" [devices]="devices"
                   [optionsDisabled]="loading"></app-devices-table>
